


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgb(237, 195, 195);
  border: 1px solid black;
  min-height: 50px;
}


body {
  background: linear-gradient(to top, #DADBD3 calc(100% - 145px), #019688 calc(100% - 145px));
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILITIES */
.gray {
  color: gray;
}


.active {
  background-color: #E8EBEB;
}





.container-csm {
  width: calc(100vw - 380px);
  height: calc(100vh - 50px);
  margin: 25px auto;
  
}

/* la parte sinistra (accounts side) **************************+*****



/* ------------------  */

.box-users  {
  width: 535px;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #EAEAEA;
  padding: 5px;
}

.box-users header{
  border-right: 1px solid lightgray;
} 

.user-profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.user-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.name-profile {
  margin-left: 5px;
}

.box-menu {
  font-size: 24px;
  display: flex;
  color: #B1B1B1;
  justify-content: space-between;
  margin-left: 320px;
}

/* -----------------  */

.notifica {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #8EDAFB;
}
.user-profile.note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: white;
  color: #8EDAFB;
  margin-left: 30px;
  border-radius: 50%;
}

.active-note {
  height: 50px;
  margin-left: 10px;
}




/* --------------------  */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}

.btn-search {
  background-color: white;
  color: gray;
  padding-left: 20px;
}



/* ----------------------  */
.account-users {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;

  
}

.accounts-side {
  width: calc(100% - 20px);
  height: 100%;
  background-color: white;
 
}

.scroll-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20px;
  height: 100%;
  padding: 5px 0;
  background-color: #F1F1F1;
  color: rgb(154, 153, 153);
  

}

.user-thumb {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid  #F1F1F1;
  color: rgb(182, 180, 180);
}

.user-thumb:hover {
  background-color: #E8EBEB;
}

.last-message {
  width: 175px;
  height: 85%;
  margin: auto 20px;
  overflow: hidden;
  
}

.time-last-message {
  margin-left: 175px;
  margin-bottom: 43px;
}







/* la parte destra (messages side) ***************************************/

.box-messages {
  width: calc(100% - 535px);
  height: 100%;
}

.box-menu.right {
  margin-left: 990px;
}


/* --------------------  */
.message-part {
  display: flex;
  width: 100%;
  height: calc(100% - 140px);
}
.message-page {
  width: calc(100% - 20px);
  height: 100%;
  background-image: url(../img/mine.jpg);
  padding: 60px 100px;
}

.my-message-block,
.users-message-block {
  min-width: 325px;
  height: 70px;
  line-height: 70px;
  border-radius: 14px;
  padding-left: 20px;
  padding-right: 100px;
  position: relative;
}

.my-message-block {
  background-color: #D5F9BA;
  float: right;
}

.users-message-block {
  background-color: white;
  float: left;
}

.time-invio {
  position: absolute;
  right: 5px;
  margin-top: 20px;
  font-size: 14px;
  color: rgb(189, 188, 188);
}







/* -----------------  */
.input-down {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #F3EEE9;
}

.input-write {
  width: calc(100% - 200px);
  height: 80%;
  margin: auto 0px;
  color: rgb(186, 183, 183);
}

.emoji,
.voice {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: gray;
  font-weight: bold;
}

