* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-csm {
  width: 82%;
  height: 95%;
  margin: auto;
}

/* UTILITIES  */

.block-information {
  padding-top: 7px;
  line-height: 20px;
}

h5 {
  margin-bottom: 0;
}
img {
  max-width: 100%;
  border-radius: 50%;
}

i {
  color: rgb(177, 177, 177);
}
i:hover {
  color: gray;
  cursor: pointer;
}

.row {
  margin: 0;
}

input:focus{
	outline: none;
}

.main-container {
  background: linear-gradient(to top, #DADBD3 calc(100% - 145px), #019688 calc(100% - 145px));
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  
}



.message-block {
  width: 65%;
  height: 100%;
  background-image: url("/img/mine.jpg");
}

.chat-text {
  height: calc(100% - 120px);
  padding-top: 40px;
  overflow-y: scroll;
}

.my_container-msg {
  width: 85%;
  margin: 0 auto;
}

.send-message {
  height: 70px;
  background-color: rgb(234, 234, 234);
}

.send-message i {
  color: rgb(107, 115, 118);
  font-size: 1.2rem;
}

.input-send input {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  border: none;
  border-radius: 4px;
}




.chat{
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 10px; 
  padding:  0 10px ;
}


.sent {
  margin-left: auto;
  background-color: rgb(213, 249, 186);
}



.received {
  background-color: white;
}

.chat-text .actual-time {
  padding: 2px 8px 2px 0;
}

.actual-time {
  font-size: .7rem;
  color: #999;
}

.last-login {
  color: rgb(147, 162, 172);
  font-size: .7rem;
}

.top-message-block img,.top-aside img {
  margin-right: 10px;
}

/* ASIDE */
aside {
  width: 35%;
  min-width:300px ;
  height: 100%;
}

.last-message {
  color: rgb(194, 189, 194);
  font-size: .8rem;
}

.top-aside, .top-message-block {
  height: 60px;
  background-color: rgb(234, 234, 234);
}

.top-aside {
  border-right: 1px solid rgba(128, 128, 128, 0.597);
  padding: 10px;
}

.top-icon-circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.notification-block {
  padding: 10px;
  font-size: .8rem;
  background-color: rgb(142, 218, 252);
}


.notification-block i {
  color: rgb(142, 218, 252);
  font-size: 1.2rem;
}

.notification-block a {
  color: rgb(98, 131, 157);
}

.research-block {
  padding: 10px;
  background-color: white;
}

.research-block > input {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border: 1px solid rgb(247, 247, 247);
}

.contacts-chat {
  height: calc(100% - 179px);
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
}

.contact {
  height: 80px;
  padding-top: 10px;
}


.contact:hover {
  cursor: pointer;
}

.contact.active {
  background-color: rgb(232, 231, 233);
}

h6 {
  margin-bottom: 0;
  font-size: .9rem;
}

.contact .chat-profile img{
  margin-right: 15px;
}

.chat-profile {
  width: 60px;
  height: 60px;
}

.f-right {
  float: right;
}