
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(to top, #DADBD3 calc(100% - 110px), #019688 calc(100% - 110px));
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}