<!DOCTYPE html>
<html lang="en">
<head>
  <!-- link BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link VUE.JS  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- link CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- link FONTAWSOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- link LUXON -->
  <script src="
  https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js
  "></script>
  <title>BOOLZAPP</title>
</head>
<body>
  
  
  <div id="app" class="main-container d-flex align-items-center ">

    <div class="container-csm d-flex">

      <!-- la parte sinistra  -->
      <aside>
        <div class="up-aside up-aside d-flex justify-content-between align-items-cente" >
          <div class="top-icon-circle d-flex align-items-center">
            <img src="img/avatar_8.jpg">
            <h5>Vahid</h5>
          </div>
          <div class="icons-top mt-2">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message me-3 ms-3 "></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <div class="notifica-part d-flex ">
          <div class="top-icon-circle d-flex justify-content-center align-items-center me-2 ms-2">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="d-flex flex-column ">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- barra di ricerca  -->
        <div class="research-block">
          <input 
          v-model.trim="research"
          type="text" 
          placeholder="Cerca o inizia una nuova chat">
        </div>


        <!-- la lista dei contatti  -->
        <div class="contacts-list">

        
          <div 
          @click="cambioClick(index)"
          v-for="(profile,index) in searchContacts"
          :class="(actualIndex === index) ? 'active':''"
          class="contact row justify-content-between">
            <div class="chat-profile col d-flex ">
              <img 
              :src="profile.avatar" alt="avatar_1">

              <div v-if="profile.messages.length > 0" class="block-information col">
                <div  class="info">
                  <span class="actual-time f-right">{{profile.messages[profile.messages.length - 1].date}}</span>
                  <h5>{{profile.name}}</h5>
                  <span class="last-message">{{profile.messages[profile.messages.length - 1].message}}</span>
                </div>
              </div>

              </div>
          </div> 
          
        </div>
      </aside>
      

      <!-- la parte destra ( i messaggi) -->

      <div class="message-part">
        <div class="top-message-part">

          <div class="row h-100  justify-content-between align-items-center ">

            <div class="col d-flex  align-items-center ">
              <img class="top-icon-circle" :src="contacts[actualIndex].avatar" alt="avatar_1">
              <div class="info">
                <h5>{{contacts[actualIndex].name}}</h5>
                <span class="last-login">Ultimo accesso oggi alle 12:00</span>
              </div>
            </div>

            <div class="col-3 d-flex justify-content-end">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip me-3  ms-3 "></i>
              <i class="fa-solid fa-ellipsis-vertical me-3"></i>
            </div>

          </div> 

        </div>

        
        <div class="chat-text">
          <div 
           v-for="(text,index) in contacts[actualIndex].messages"  class="my_container-msg">

            <div>
              <div 
              :class="text.status"
              class="chat d-flex flex-column ">
              
                <a class="nav-link align-self-end " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-chevron-down"></i>
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Message Info</a></li>
                  <li><a 
                    @click="deleteMessage(index)" class="dropdown-item" href="#">Delete Message
                    </a>
                  </li>
                </ul>
                <span span class="text">{{text.message}}</span>
                <span class="actual-time align-self-end">{{text.date}}</span>
              </div>
            </div>

          

          </div>
        </div>

        <!-- input (inserire nuovi text)  -->
        <div class="send-message d-flex justify-content-between align-items-center ">

          <div class="emoji me-4 ms-4">
            <i class="fa-regular fa-face-smile"></i>
          </div>

          <div class="input-send flex-grow-1 ">
            <input 
            v-model.trim="newMessage"
            @keyup.enter="addMessage"
            type="text" 
            placeholder="Scrivi un messaggio"
            >
          </div>

          <div class="audio me-4 ms-4">
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>

      </div>
  
    </div>
  </div>



<!-- link JAVASCRIPT  -->

<script type="module" src="./js/main.js"></script>
</body>
</html>